:root {
  --text-color: #1a202c;
  --background-color: #f7fafc;
  --emphasize-color: #16181f;
  --background-emphasize-color: #f2f4f6;
  --border-color: #d1d5db;
  --color-blue: rgb(59, 130, 246);
  --color-orange: rgb(253, 186, 116);
  --color-red: rgb(185, 28, 28);
  --color-green: rgb(21, 128, 61);
}

.dark {
  --text-color: #f7fafc;
  --background-color: #1a202c;
  --emphasize-color: #f2f4f6;
  --background-emphasize-color: #141618;
  --border-color: #4a5568;
}
